<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">
      org.hibernate.dialect.Oracle10gDialect
   </property>
   <property name="hibernate.connection.driver_class">
      oracle.jdbc.driver.OracleDriver
   </property>

   <!-- Assume students is the database name -->
   <property name="hibernate.connection.url">      
      jdbc:oracle:thin:@lpr01-devsql01:1521:starsdev
   </property>
   <property name="hibernate.connection.username">
      CNG_OWN_STARS03
   </property>
   <property name="hibernate.connection.password">
      fD5jzvnDNUUh
   </property>

</session-factory>
</hibernate-configuration>